<h1>Log in</h1>
<% if @error %>
  <%= @error %>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>

<%= link_to "Log in with Facebook", "/auth/Facebook", id: "fb-log-in" %>