<div class="total-page-container">
  <header class="debug">
    <div class="debug clearfix">
      <div class="debug fl-l p-l-sm">
        <% if current_user %>
          <a id="sign_out" href='/logout'><%= image_tag('logout.png', :class => "log")%></a>
        <% else %>
          <a href='/login'><%= image_tag('login.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug fl-r p-r-sm">
        <% if current_user %>
          <a href='/mycities'><%= image_tag('heart.png', :class => "log")%></a>
          <% else %>
          <div class='invis-log'></div>
        <% end %>
      </div>
      <div class="debug center w-logo">
        <a href="/cities"><%= image_tag('swipesee_circle.png', :class => "logo")%></a>
      </div>
    </div>
    <div class="t-center m-t-neg">
      <a href="/cities"><h1 class="d-inb f-oswald fz-ms c-white">SwipeSee</h1></a>
    </div>
  </header>
  <div class="se-pre-con"></div>

  <div>
    <h1 class='t-center f-oldstd'>SIGN UP</h1>
    <%= form_for @user do |f| %>
    <div class="w-90 center">
      <% if @error %>
        <%= @error %>
      <% end %>
      <div><p class='taken'><%= @user.errors.full_messages.find{|message| message.include?('taken')} %></div>

      <div class="p-t-sm"><%= f.label :username, class: "f-oswald fz-xs f-weight" %></div>
      <div><%= f.text_field :username, required: true, title: "Please Enter Your Username", :class => 'rounded w-full' %></div>

      <div class="p-t-sm"><%= f.label :email, class: "f-oswald fz-xs f-weight" %></div>
      <div>
        <%= f.text_field :email, required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', title: "E.g john123@gmail.com", :class => 'rounded w-full' %></div>


      <div class="p-t-sm"><%= f.label :password, class: "f-oswald fz-xs f-weight" %></div>
      <div><%= f.password_field :password, required: true, pattern: '.{6,}', title: "6 characters minimum", :class => 'rounded w-full' %></div>

      <div class="p-t-sm"><%= f.label :password_confirmation, class: "f-oswald fz-xs f-weight" %></div>
      <div><%= f.password_field :password_confirmation, :class => 'rounded w-full' %></div>
    </div>
      <div class='p-sm t-center'><%= f.submit "Sign Up", class: "f-oswald sm-rect-button-map" %></div>

    <% end %>
    <%= link_to "#{image_tag('facebook-login-button.png', class: "w-220")}".html_safe, "/auth/Facebook", id: "fb-log-in", :class => 'p-t-m d-b t-center' %>
  </div>
</div>