<div class="total-page-container">
  <header class="debug">
    <div class="debug row">
    <div class="debug col span-3-t t-right">
      <% if current_user %>
        <a href='/logout'><%= image_tag('logout.png', :class => "log")%></a>
        <% else %>
        <a href='/login'><%= image_tag('login.png', :class => "log")%></a>
      <% end %>
    </div>
    <div class="debug col span-6-t t-center">
      <div id="logo"><%= image_tag('swipesee_circle.png', :class => "logo")%></div>
      <h1 class="f-oswald fz-l c-white">SwipeSee</h1>
    </div>
    <div class="debug col span-3-t">
      <% if current_user %>
        <a href='/mycities'><%= image_tag('heart.png', :class => "heart")%></a>
        <% else %>
        <a href='/users/new'>Signup</a>
      <% end %>
    </div>
    </div>
    <div class="debug col span-12-t t-center p-sm">
      <form id="search-form" class="debug">
        <input type="text" class="debug bdr-blk t-center p-sm bdr-r-m w-90 fz-m">
      </form>
    </div>
  </header>

  <div class="debug">

    <div class="debug city-detail">
      <a href="/cities/30/attractions"><%= image_tag('cropped_cities/bangkok_crop_img.jpg', :class => "city_pic", :id => "bangkok") %></a>
    </div>
    <div class="debug city-detail">
      <%= image_tag('cropped_cities/beirut_crop_img.jpg',:class => "city_pic", :id => "beirut") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/budapest_crop_img.jpg', :class => "city_pic", :id => "budapest") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/cape_town_crop_img.jpg', :class => "city_pic", :id => "cape_town") %>
    </div>
    <div class="debug city-detail">
      <%= image_tag('cropped_cities/detroit_crop_img.jpg', :class => "city_pic", :id => "detroit") %>
    </div>
    <div class="debug city-detail">
      <%= image_tag('cropped_cities/florence_crop_img.jpg',:class => "city_pic", :id => "florence") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/istanbul_crop_img.jpg', :class => "city_pic", :id => "istanbul") %>
    </div>
    <div class="debug city-detail">
      <%= image_tag('cropped_cities/kyoto_crop_img.jpg', :class => "city_pic", :id => "kyoto") %>
    </div>
    <div class="debug city-detail">
      <%= image_tag('cropped_cities/paris_crop_img.jpg',:class => "city_pic", :id => "paris") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/rio_de_janeiro_crop_img.jpg', :class => "city_pic", :id => "rio_de_janeiro") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/san_francisco_crop_img.jpg', :class => "city_pic", :id => "san_francisco") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/sydney_crop_img.jpg', :class => "city_pic", :id => "sydney") %>
    </div>
    <div class="debug city-detail">
     <%= image_tag('cropped_cities/vienna_crop_img.jpg', :class => "city_pic", :id => "vienna") %>
    </div>

  </div>

</div>