<div class="total-page-container">
  <header class="debug">
    <div class="debug clearfix">
      <div class="debug fl-l p-l-sm">
        <% if current_user %>
          <a id="sign_out" href='/logout'><%= image_tag('logout.png', :class => "log")%></a>
          <% else %>
          <a href='/login'><%= image_tag('login.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug fl-r p-r-sm">
        <% if current_user %>
          <a href='/mycities'><%= image_tag('heart.png', :class => "log")%></a>
          <% else %>
          <a href='/users/new' class="t-left w-60 h-68"><%= image_tag('plus.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug center w-logo">
        <a href="/cities"><%= image_tag('swipesee_circle.png', :class => "logo")%></a>
      </div>
    </div>
    <div class="t-center m-t-neg">
      <a href="/cities"><h1 class="f-oswald fz-ms c-white">SwipeSee</h1></a>
    </div>
    <h1 class="f-oldstd t-center">MY CITIES</h1>
    <div class="debug col span-12-t t-center p-sm">
      <form id="search-form" class="debug">
        <input type="text" class="search-input debug bdr-blk t-center p-sm bdr-r-m w-90 fz-sm">
      </form>
    </div>
  </header>

  <div class="se-pre-con"></div>

  <div class="city-pics-container t-center center debug">
    <% if @cities.length == 0 %>
      <div class="swipsee-end panel">
        <a href="/">
          <p class="p-sm fz-m t-center"><%= @emptyquote %></p>
          <p class="fz-ms p-sm t-center">Click to start finding attractions!</p>
        </a>
        <%= image_tag('swipesee.png', :class => "swipesee-final") %>
      </div>
    <% else %>
      <% @cities.each do |city| %>
        <div class="t-center d-inb v-top my-city debug">
          <div class="center square_city debug" id= '<%=city.name%>'>
            <a href="/mycities/<%= city.id %>/attractions"><%= image_tag(city.photo_url, :class => "my-city-pic")%></a>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
