<div class="total-page-container"> 
  <header class="debug">
    <div class="debug row">
    <div class="debug col span-3-t">
    <% if current_user %>
      <a href='/logout'>Logout</a>
      <a href='/mycities'>Your Cities</a>
      <% else %>
      <a href='/login'>Login</a>
      <a href='/users/new'>Signup</a>
      <% end %>
    </div>
    <div class="debug col span-6-t logo_div">
        <%= image_tag('swipesee.png', :class => "logo")%>
      </div>
    <div class="debug col span-3-t ">
      3. Sign up to save
      </div>
    </div>
    <div class="debug col span-12-t search_box">
      <form id="search-form" class="debug">
        <input type="text" class="debug search_input">
      </form>
    </div>
  </header>

  <div class="city-pics debug">

    <div class="debug ">  
      <%= image_tag('cities/sydney_img.jpg', :class => "city_pic") %>
    </div>
    <div class="debug ">
      <%= image_tag('cities/beirut_img.jpg',:class => "city_pic") %>
    </div>
    <div class="debug ">
     <%= image_tag('cities/bangkok_img.jpg', :class => "city_pic") %> 
    </div>
    <div class="debug ">
     <%= image_tag('cities/siem_reap_img.jpg', :class => "city_pic") %> 
    </div>

  </div>
  
</div> <!-- end of total page  -->