<%= @city.name %>
<% @attractions.each do |attraction| %>
  <div>
    <div><a href="/mycities/<%= attraction.city_id %>/attractions/<%= attraction.id %>"><img src="<%= attraction.photo_url %>"></div>
    <div><%= attraction.name %></div>
  </div>
<% end %>