<div class="total-page-container">
  <header class="debug">
    <div class="debug clearfix">
      <div class="debug fl-l p-l-sm">
        <% if current_user %>
          <a id="sign_out" href='/logout'><%= image_tag('logout.png', :class => "log")%></a>
          <% else %>
          <a href='/login'><%= image_tag('login.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug fl-r p-r-sm">
        <% if current_user %>
          <a href='/mycities'><%= image_tag('heart.png', :class => "log")%></a>
          <% else %>
          <a href='/users/new' class="t-left w-60 h-68"><%= image_tag('plus.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug center w-logo">
        <a href="/cities"><%= image_tag('swipesee_circle.png', :class => "logo")%></a>
      </div>
    </div>
    <div class="t-center m-t-neg">
      <a href="/cities"><h1 class="d-inb f-oswald fz-ms c-white">SwipeSee</h1></a>
    </div>
  </header>

  <div class="se-pre-con"></div>
  <a href='/mycities/<%= @city.id %>/attractions'><p class="m-l-sm d-inb sm-rect-button-map p-l-xs c-white f-oswald">BACK</p></a>
  <div class="my-attraction-detail">
    <h1 class="f-oldstd t-center debug fz-sm"><%= @attraction.name %></h1>
    <div class="bdr-m-blk square_city debug"><img id="swipe" class="my-city-image" src="<%= @attraction.photo_url %>">
    </div>
    <div class="debug t-center m-t-m">
      <a href="/mycities/<%=@city.id%>/attractions/<%=@attraction.id%>/maps" class="button-map" id='map' rel="external"><p class="d-inb sm-rect-button-map f-oswald">
      MAP ME!</p></a>
    </div>
    <p id="swipe_status"></p>
    <div class="m-sm debug c-white p-sm"><p class="fz-xs t-center"><%= @attraction.description %></p></div>
  </div>
</div>