<div class="total-page-container">
  <header class="debug">
    <div class="debug clearfix">
      <div class="debug fl-l p-l-sm">
        <% if current_user %>
          <a href='/logout'><%= image_tag('logout.png', :class => "log")%></a>
          <% else %>
          <a href='/login'><%= image_tag('login.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug fl-r p-r-sm">
        <% if current_user %>
          <a href='/mycities'><%= image_tag('heart.png', :class => "log")%></a>
          <% else %>
          <a href='/users/new' class="t-left w-60 h-68"><%= image_tag('plus.png', :class => "log")%></a>
        <% end %>
      </div>
      <div class="debug center w-logo">
        <a href="/cities"><%= image_tag('swipesee_circle.png', :class => "logo")%></a>
      </div>
    </div>
    <div class="t-center m-t-neg">
      <a href="/cities"><h1 class="d-inb f-oswald fz-ms c-white">SwipeSee</h1></a>
    </div>
  </header>

  <div class="se-pre-con"></div>
  <a href='/mycities/<%= @city.id %>/attractions/<%= @attraction.id %>'><p class="m-l-sm f-oswald d-inb sm-rect-button-map p-l-xs c-white">BACK</p></a>
  <h1 id="mapTitle" class="f-oldstd t-center debug fz-sm"><%=@attraction.name %></h1>

  <div id="map-canvas" class="m-t-m center" style="width:300px;height:250px;"></div>

  <div class="address" id="address" ><%=@attraction.name %>,<%=@city.name %></div>

  <div class="address" id="icon" ><%= image_tag('swipesee_arrow.png', :id => "icon2")%></div>


  <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>

</div>


<div class="address" id="mylat" ><%=@attraction.lat %></div>
<div class="address" id="mylong" ><%=@attraction.long %></div>

<div class="address" id="icon" ><%= image_tag('swipesee_arrow.png', :id => "icon2")%></div>


