



<h1><%=@attraction.name %>, <%=@city.name %></h1>


<div id="map-canvas" style="width:600px;height:600px;"></div>


<div class="address" id="address" ><%=@attraction.name %>,<%=@city.name %></div>

<div class="address" id="icon" ><%= image_tag('swipesee_small_red.png', :id => "icon2")%></div>

<script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initialize" type="text/javascript"></script>

