<%= image_tag('swipesee.png', :class => "logo")%>
<div class="total-page-container">
  <header class="debug">
    <div class="debug row">
    <div class="debug col span-3-t">
      <a href='/logout'>Logout</a>
    </div>
    <div class="debug col span-6-t p-m">
      <h1 class="t-center"><%= @city.name %></h1>
    </div>
    <div class="debug col span-3-t ">
      <a href='#'>My Cities</a>

    </div>
    </div>
    <div class="debug col span-12-t t-center p-sm">
      <form id="search-form" class="debug">
        <input type="text" class="debug bdr-blk t-center p-sm bdr-r-m">
      </form>
    </div>
  </header>

  <div class="city-pics-container t-center center debug">
    <% @attractions.each do |attraction| %>
      <div class="span-5-t t-center d-inb v-top debug">
        <p><%= attraction.name %></p>
        <div class="center square_city debug">
         <a href="/cities/<%= @city.id %>/attractions/<%= attraction.id %>"><img src="<%= attraction.photo_url %>" class="my-city-image"></a>
        </div>
      </div>
    <% end %>
  </div>

</div>